<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <span class="login100-form-title p-b-33">
        Resend unlock instructions
      </span>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, class: 'login100-form') do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field wrap-input100">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "input100" %>
        </div>

        <div class="actions wrap-input100">
          <%= f.submit "Resend unlock instructions", class: 'login100-form-btn' %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
