<p>Hello <%= @resource.email %>!</p>

<p><%= t("mailers.reset_password_instruction") %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mailers.ignore_if_did_not_request") %></p>
<p><%= t("mailers.access_above_link") %></p>
